p {
  display: flex;
  flex-wrap: wrap;
}

#card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

/*#card p {
  margin-right: 4%;
  display: flex;
  flex-direction: column;
}*/

#fiche {
  border: 1px solid black;
 margin-right: 2%;
}
